## Assignment/ Homework 1

** Answer the following questions **

In [ ]:
Name:

### Q1 Given the variables:

In [13]:
a = 5  
b = 2.5  
c = "Hello"  
d = True 

# Identify the type of each variable using a Python function.

In [15]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Q2 What is the difference between lists and tuples? Provide an example where a tuple is preferable over a list.

In [16]:
# List can be mutable and tuples are immutable types.
#   List = [1,2,'a']
#   Tuples= (1,2,'a')

# Tuples is widel used in where we need  to save the unique identity, like account number, adhar number etc. (Tuple is used where data not to change)

### Q3 Given the dictionary:

In [17]:
student = {"name": "Alice", "age": 22, "marks": 85}

1. Add a new key "city" with value "New York".

In [19]:
student['city'] = 'New York'
student

{'name': 'Alice', 'age': 22, 'marks': 85, 'city': 'New York'}

2. Update "marks" to 90.

In [20]:
student['marks']='90'
student

{'name': 'Alice', 'age': 22, 'marks': '90', 'city': 'New York'}

3. Delete the "age" key.

### Q4 Given the string python, give two methods of producing the letter 'o' using indexing.

In [21]:
del student['age']
student

{'name': 'Alice', 'marks': '90', 'city': 'New York'}

In [ ]:
### Q5 Using keys and indexing, grab the 'python' from the following dictionaries:

In [23]:
d = {'my_key':'python'}
value=d['my_key']
value

'python'

In [25]:
d = {'k1':{'k2':'python'}}
value = d['k1']['k2']
value

'python'

In [28]:
d = {'k1':[{'nest_key':['easy to learn',['python']]}]}
value = d['k1'][0]['nest_key'][1]
value

['python']

In [31]:
d = {'k1':[1,2,{'k2':['open source',{'practice':[1,2,['python']]}]}]}
value = d['k1'][2]['k2'][1]['practice'][2][0]
value

'python'

### Q6 Use a set to find the unique values of the list below:

In [33]:
list6 = [1,2,2,33,4,44,11,22,3,3,2,1]
unique= set(list6)
unique

{1, 2, 3, 4, 11, 22, 33, 44}

### Q7 What is the boolean output of the cell block below? If False, how it would be True?

In [34]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [35]:
l_one = [1, 2, [4, 4]]
l_two = [1, 2, {'k1': 2}]

l_one[2][0] >= l_two[2]['k1']

True

### Q8 Which Python operators can be used to calculate both the square and square root of a number?

In [ ]:
#     ** is used in both square and square root of a number.

### Great Job !!!